<h1> <%= @the_user.username %> </h1>

<dl>
  <dt>ID</dt>
  <dd><%= @the_user.id %></dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @the_user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @the_user.username %>">

      <button>Update user</button>
    </form>
  </dd>
</dl>


<h2>Own photos (11)</h2>


<%= @photo_count %>
